@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.text {
  /* Browsers not below */
  transform: rotate(-90deg);
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
}
